In [30]:
import sqlite3 as sq

In [31]:
con=sq.connect('stud.db')

In [32]:
cur=con.cursor()

In [35]:
a1='create table stud11(id int primary key,name text)'

In [36]:
cur.execute(a1)

In [37]:
a2='create table stud_details11(id references stud(id),city text,mobileno int)'

In [38]:
cur.execute(a2)

In [39]:
con.commit()

2.insert into atleast 10 recordes for each table.

In [40]:
I1="insert into stud11 values(1,'Jai'),(2,'Shree'),(3,'Ram'),(4,'shivji'),(5,'krishna'),(6,'sitaji'),(7,'Hanuman'),(8,'laxman'),(9,'Ganesh'),(10,'Bheem')"

In [41]:
cur.execute(I1)

In [42]:
I2="insert into stud_details11 values(1,'surat',1098765432),(2,'Bardoli',9620241186),(3,'Vyara',8980956321),(4,'Baroda',9586544862),(5,'Katchh',7755886633),(6,'Surendranagar',6655887744),(7,'Dahod',7889665544),(8,'Diu',9877445522),(9,'Rajkot',9756218562),(10,'Songadh',7896968532)"

In [43]:
cur.execute(I2)

In [44]:
con.commit()

3.Diplay whose Student Come From the Surat City.

In [45]:
a3="select * from stud_details where city='surat' "

In [46]:
cur.execute(a3)

In [47]:
cur.fetchall()

[(1, 'surat', 9574880099)]

In [48]:
con.commit()

4.Display Student Details Whose City Name Start with B.

In [52]:
a4="select * from stud_details11 where city LIKE 'b%' "

In [53]:
cur.execute(a4)

In [54]:
cur.fetchall()

[(2, 'Bardoli', 9620241186), (4, 'Baroda', 9586544862)]

In [55]:
con.commit()

5.Update Mobile Who are Coming From 'Surat'.

In [56]:
a5="update stud_details11 set mobileno=9574880099 where city='surat' "

In [57]:
cur.execute(a5)

In [58]:
con.commit()

In [59]:
con.close()